/* General */
body {
  margin: 0;
  width: 100%;
  background-color: #1c1e22;
  font-family: "Cutive Mono", monospace;
}

.col {
  float: left;
}

b,
article:hover .center a,
h4,
a:hover,
footer li a:hover {
  color: #f6407f;
}

a {
  color: #fff;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

a:hover {
  text-decoration: none;
  letter-spacing: 0.5px;
}

::selection {
  background: #f6407f;
  color: #fff;
}

::-moz-selection {
  background: #f6407f;
  color: #fff;
}

::-webkit-selection {
  background: #f6407f;
  color: #fff;
}

ul {
  list-style-type: none;
  -webkit-padding-start: 0px;
}

li {
  font: 14px;
  line-height: 28px;
  text-align: right;
}

li a {
  color: #fff;
}

h1 {
  font-size: 28px;
  color: #fff;
  text-align: left;
  padding: 15px 0;
  line-height: 28px;
  letter-spacing: -2px;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.70);
}

h2 {
  text-align: center;
  width: 100%;
  font-size: 26px;
  color: #fff;
}

h3 {
  font-size: 17px;
  padding: 15px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.12);
}

h4 {
  font-size: 15px;
  letter-spacing: 0.5px;
  text-align: center;
}

p {
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -1.5px;
  width: 100%;
  margin: 0 auto;
}

.center {
  text-align: center;
}


/* Header */
header {
  position: fixed;
  width: 100%;
  padding: 50px;
}

.active {
  background: #1c1e22;
}

.logo {
  z-index: 9999;
  position: relative;
  display: block;
}

nav {
  font-size: 14px;
  color: #fff;
  text-align: right;
}


/* Home */
#wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

#home {
  width: 100%;
  height: 100%;
  background-image: url(../img/elisa.png);
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  position: fixed;
  z-index: -99;
}

#home .container {
  height: 100%;
  position: absolute;
  text-align: center;
  width: 100%;
  margin: auto;
  right: 0;
  left: 0;
}

#home p {
  -webkit-font-smoothing: antialiased;
  animation: type 5s steps(60, end);
  white-space: nowrap;
  overflow: hidden;
}

#home p.second {
  animation: type2 8s steps(60, end);
}

.vertical-center {
  position: relative;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

span {
  animation: blink 1s infinite;
}

@keyframes type {
  from {
    width: 0;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }

  30% {
    width: 0;
  }

  100% {
     width: 100%;
  }
}

@keyframes blink {
  to {
    opacity: .0;
  }
}

#scroll {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  margin: auto;
}

.scroll-down {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 5vh;
  display: block;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid #f6407f;
  border-right: 2px solid #f6407f;
  z-index: 9;
  -webkit-animation: fade_move_down 2s ease-in-out infinite;
  -moz-animation: fade_move_down 2s ease-in-out infinite;
  animation: fade_move_down 2s ease-in-out infinite;
}

/* animated scroll arrow animation */
@-webkit-keyframes fade_move_down {
  0% {
    -webkit-transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    -webkit-transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}

@-moz-keyframes fade_move_down {
  0% {
   -moz-transform: translate(0, -10px) rotate(45deg);
   opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    -moz-transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}

@keyframes fade_move_down {
  0% {
    transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
     transform: translate(0, 10px) rotate(45deg);
     opacity: 0;
  }
}


/* Work */
#work {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1000;
  margin-top: 100vh;
  padding-top: 5em;
}

article {
  padding: 3.5em 0;
  position: relative;
  height: auto;
  display: flex;
  clear: both;
}

.project {
  width: 100%;
  height: 475px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.auriga {
  background: url(../img/project/auriga.jpg) no-repeat center center / cover;
}

.florio {
  background: url(../img/project/florio.jpg) no-repeat center center / cover;
}

.clm {
  background: url(../img/project/clm.jpg) no-repeat center center / cover;
}

.pam {
  background: url(../img/project/pam.jpg) no-repeat center center / cover;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(28, 30, 34, 0.7);
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}

article:hover .overlay {
  background: transparent;
}

.name {
  padding: 20px;
  width: 100%;
}

.name a {
  color: #fff;
  letter-spacing: -1px;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-decoration: none;
}

article:hover a {
  letter-spacing: 0;
}


/* Footer */
footer {
  padding: 50px;
  position: relative;
  bottom: 0;
  right: 0;
  width: 100%;
}

.made {
  text-align: left;
  color: #fff;
  font-size: 13px;
  margin-top: 10px;
  letter-spacing: 0.3px;
}


/* Responsive */
@media screen and (max-width:1200px) {
  .project {
    height: 425px;
  }
}

@media screen and (max-width:990px) {
  .project {
    height: 306px;
  }
}

@media screen and (max-width:767px) {
  header {
    padding: 30px;
  }

  article {
    display: block;
  }

  article .vertical-center {
    top: 0;
    transform: initial;
  }

  footer li,
  .made {
    text-align: center;
  }

  #home p,
  #home p.second {
    animation: none;
    white-space: initial;
  }
}

@media screen and (max-width:520px) {
  p {
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.5px;
  }
}

@media screen and (max-width:460px) {
  #home {
    background-size: cover;
  }

  header {
    padding: 30px 15px;
  }

  #work {
    padding-top: 3em;
  }

  .name {
    padding: 0;
  }

  .project {
    height: 250px;
  }

  .overlay {
    background: rgba(28, 30, 34, 0.5);
  }

  footer {
    padding: 30px 15px;
  }
}

@media screen and (max-width:375px) {
  .project {
    height: 205px;
  }
}

@media screen and (max-width:300px) {
  .project {
    height: 160px;
  }
}
